<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Card details</title>
</head>
<body>
  <h1>Card details</h1>
  <form method="post" th:action="@{/update}" th:object="${cardDTO}">
      <input type="hidden" th:field="*{id}">
      <div><label>Name:<input type="text" th:field="*{name}"></label></div>
      <div><label>Type:<input type="text" th:field="*{type}"></label></div>
      <div><label>Quantity ratio:<input type="text" th:field="*{quantityRatio}"></label></div>
      <div><label>Obtain price:<input type="number" th:field="*{obtainPrice}"></label></div>
      <div><label>Obtain year:<input type="number" th:field="*{obtainYear}"></label></div>
      <div><label>Release year:<input type="number" th:field="*{releaseYear}"></label></div>
      <div><label>Release price:<input type="number" th:field="*{releasePrice}"></label></div>
      <div><label>Collection:
          <select th:field="*{collection.id}">
              <option th:value="null" th:text="''"></option>
            <option th:value="${collection.id}" th:text="${collection.name}" th:each="collection, collectionStat: ${collections}"/>
          </select>
      </label></div>
      <div><input type="submit"></div>
  </form>
</body>
</html>